_termpapers/termpapers.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="biblitem">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="author" type="xs:string" minOccurs="0"/>
				<xs:element name="title" type="xs:string" minOccurs="0"/>
				<xs:element name="publisher" type="xs:string" minOccurs="0"/>
				<xs:element name="pages" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="paper">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element ref="biblitem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="prof">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="paper" maxOccurs="unbounded"/>
				<xs:element name="comment" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="comments">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisher"/>
	<xs:element name="termpapers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="prof" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="year" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="title" type="xs:string"/>
</xs:schema>
