_quot/quot.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ENTITY % HTMLEnt SYSTEM  "/htmlent.ent">
%HTMLEnt;
<!ENTITY % MYXHTMLEnt SYSTEM  "/xhtml.ent">
%MYXHTMLEnt;

<!ELEMENT group (group_title, quote+)>
<!ATTLIST group
	id CDATA #REQUIRED
>
<!ELEMENT group_title %Inline;>

<!ELEMENT quote %Inline;>
<!ATTLIST quote
	year CDATA #REQUIRED
	spec CDATA #REQUIRED
>
<!ELEMENT quotes (title, group+)>
