_staff/staff.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="about">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="br"/>
				<xs:element ref="p"/>
				<xs:element ref="ol"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="br" type="xs:string"/>
	<xs:element name="duty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="shortname"/>
			</xs:sequence>
			<xs:attribute name="academic_rank" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="assoc_prof"/>
						<xs:enumeration value="prof"/>
						<xs:enumeration value="senior_rf"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="extlink">
		<xs:complexType mixed="true">
			<xs:attribute name="href" type="xs:string" use="required"/>
			<xs:attribute name="target" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="field" type="xs:string"/>
	<xs:element name="fn" type="xs:string"/>
	<xs:element name="i">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="spec"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="b">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="spec"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="spec">
		<xs:complexType>
			<xs:attribute name="code" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="image">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="w" type="xs:short" use="required"/>
			<xs:attribute name="h" type="xs:short" use="required"/>
			<xs:attribute name="tw" type="xs:short" use="required"/>
			<xs:attribute name="th" type="xs:short" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="li" type="xs:string"/>
	<xs:element name="ln" type="xs:string"/>
	<xs:element name="mn" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="ol">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="li" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="p">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="i"/>
				<xs:element ref="span"/>
				<xs:element ref="spec"/>
				<xs:element ref="b"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fn"/>
				<xs:element ref="mn"/>
				<xs:element ref="ln"/>
				<xs:element ref="duty" minOccurs="0"/>
				<xs:element ref="image" minOccurs="0"/>
				<xs:element ref="field"/>
				<xs:element ref="about"/>
				<xs:element ref="extlink" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="degree" type="xs:string" use="required"/>
			<xs:attribute name="academic_rank" type="xs:string" use="required"/>
			<xs:attribute name="image" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="shortname" type="xs:string"/>
	<xs:element name="span">
		<xs:complexType mixed="true">
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="staff">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="person" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
