_staff/staff.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="" xmlns:pr="http://statmod.ru/staff" targetNamespace="http://statmod.ru/staff">
	<xs:element name="duty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pr:name"/>
				<xs:element ref="pr:shortname"/>
			</xs:sequence>
			<xs:attribute name="academic_rank" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="assoc_prof"/>
						<xs:enumeration value="assist_prof"/>
						<xs:enumeration value="prof"/>
						<xs:enumeration value="senior_rf"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="extlink">
		<xs:complexType mixed="true">
			<xs:attribute name="href" type="xs:string" use="required"/>
			<xs:attribute name="target" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="field" type="xs:string"/>
	<xs:element name="fn" type="xs:string"/>

	<xs:element name="image">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="w" type="xs:short" use="required"/>
			<xs:attribute name="h" type="xs:short" use="required"/>
			<xs:attribute name="tw" type="xs:short" use="required"/>
			<xs:attribute name="th" type="xs:short" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ln" type="xs:string"/>
	<xs:element name="mn" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pr:fn"/>
				<xs:element ref="pr:mn"/>
				<xs:element ref="pr:ln"/>
				<xs:element ref="pr:duty" minOccurs="0"/>
				<xs:element ref="pr:image" minOccurs="0"/>
				<xs:element ref="pr:field"/>
				<xs:element ref="pr:extlink" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="degree" type="xs:string" use="required"/>
			<xs:attribute name="academic_rank" type="xs:string" use="required"/>
			<xs:attribute name="image" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="shortname" type="xs:string"/>

	<xs:element name="staff">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pr:person" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
