_annot/annot.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns="" xmlns:an="http://statmod.ru/annotations" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://statmod.ru/annotations" id="annotations">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="annotations">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="an:notes"/>
				<xs:element ref="an:cycle"/>
			</xs:choice>
			<xs:attribute name="spec" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cycle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="an:name" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="an:annot" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="style" type="an:styleType" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="notes" type="an:stringWithLang"/>
	<xs:element name="name" type="an:stringWithLang"/>
	<xs:element name="annot">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="an:header"/>
				<xs:element ref="an:spec" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="header">
		<xs:complexType mixed="false">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="an:course"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="course">
		<xs:complexType>
			<xs:attribute name="id" type="an:courseId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="stringWithLang" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="an:spec"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="spec">
		<xs:complexType>
			<xs:attribute name="code" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="courseId">
		<xs:restriction base="xs:string">
			<xs:pattern value="/[a-z]+[_[a-z]]+/"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="styleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="no_duration"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
