_annot/annot.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="annotations">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="notes" type="stringWithLang"/>
				<xs:element ref="cycle"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="cycle">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="stringWithLang" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="annot"   minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="annot">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="header"/>
				<xs:element ref="spec" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="header">
		<xs:complexType mixed="false">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="course"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="course">
		<xs:complexType>
			<xs:attribute name="id" use="required" type="courseId"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="stringWithLang" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="spec"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="spec">
		<xs:complexType>
			<xs:attribute name="code" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="courseId">
		<xs:restriction base="xs:string">
			<xs:pattern value="/[a-z]+[_[a-z]]+/"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
